@import url('https://fonts.googleapis.com/css?family=Karla|Jacques+Francois+Shadow&display=swap');

*,
body {
  font-family: 'Karla', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Jacques Francois Shadow', cursive;
}

.text-center {
  text-align: center;
}
